body{
    margin: 0
}
.page{
    width: 100vw;
    min-height: 100vh;
    background-image: url("../mage/rana.png");
    background-size: cover;
    padding-bottom: 65px;
}
.header{ 
    width: 100%;
    box-sizing: border-box;
    height: 56px;
    background-color: rgba(0,0,0,0.4);
    /* opacity: 0.4; */
    background-size: cover;
    padding: 0 90px;    
}

 .sprite {
    background-image: url(../mage/spritesheet.png);
    display: inline-block;
    background-repeat: no-repeat;
   background-size: cover;
   vertical-align: middle;
   margin-left: 14px;
   width: 20px;
    height: 20px;

} 

.spritez{
    display: inline-block;
}

.sprite-calc {
    background-position: 0px 0px;
}
.sprite-calc:hover{
    background-position: -20px 0px; 
}

 .sprite-komp {
    background-position: -80px 0px;
    
}
.sprite-komp:hover{
    background-position: -106px 0px;
}

.sprite-sms {
    width: 20px;
    height: 20px;
    background-position: -42px 0px;
} 
.sprite-sms:hover{
    background-position: -62px 0px;
}
.login a{
    text-transform: capitalize;
    text-decoration: none;
    color: #3cb878;
    font-weight: 400;
}
.login span {
    text-transform: lowercase;
    color: white;
    
}

.login{ 
    font-size: 14px;
    float: right; 
    line-height: 56px;
}
.login h3{
    text-transform: capitalize;
}
.nav{
    color: white;
    font-size: 20px;
    width: 100%;
    display: inline-block;
}
.logo  {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    height: 20px;
    line-height: 56px;
}
.logo:hover{
    color: #3cb878;
}

.text{
    margin-left: 50px;
}
span:first-child {
    color: white;
    text-transform: capitalize;
    
}
.text:hover{
    text-decoration: underline;
}


.place{
    background-color: white;
    width: 444px;
    height: 605px;
    margin: 0 auto;
    margin-top: 65px;
    border-radius: 10px 10px 10px 10px; 
    

}
.visit{
    text-transform: capitalize;
    display: inline-block;
    margin-left: 60px;

   
}
.visit a{
    color: #3cb878;
    text-decoration: none;
    font-size: 14px;
    margin-left: 200px;    
}
.visit a:hover{
    text-decoration: underline;
}
.visit p{
    font-size: 20px;
    color: #434343;
}
/* .visit p::before{
      background-image: url("../mage/sprite/shape.png");
} */



.btn{
    padding-left: 60px;
}


.btn a{
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px ;
    height: 46px;
    width: 157px;
}
.facebook{
    background-color: #305db8;
    padding: 16px 17px 17px 17px;
    position: relative;
}
.google{
    background-color:  #df4a32;
    padding: 16px 17px 17px 17px;
    position: relative;
}

.google::before{
    content: '';
    position: absolute;
    border-right: 1px solid #af3a28;
    left: 42px;
    height: 22px;
}
.facebook-icon{
    margin-right: 36px;
}
.fab {
    margin-right: 34px;
}
.facebook::before{
    content: '';
    position: absolute;
    border-right: 1px solid #2b54a5;
    left: 36px;
    height: 22px;
}
.facebook:hover{
    background-color:#264b96;
}
.google:hover{
    background-color: #c3412c;
}
.or{
    font-size: 14px;
    color:#848484;
    padding-top: 30px;
    margin-left: 60px;

}

.or::before{
    content: '';
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    display: inline-block;
    width: 140px;
    margin-right: 8px;
    position: relative;
    bottom: 2px;
   
}
.or::after{
    content: '';
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    width: 140px;
    display: inline-block;
    margin-left: 8px;
    bottom: 2px;
    position: relative;
}

.form{
     width: 322px;
     height: 46px;
     margin-left: 62px;
     
}
.form label input{
    width: 322px;
    height: 46px;
    margin-top: 9px;
    border-radius: 5px;
    text-transform: capitalize;
    border: 0.5px solid #eaeaea ;
    outline:none;
}

.form input:hover{
    box-shadow: 0 2px 6px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.2);
    
}
.choose a {
    text-decoration: none;
    text-transform: capitalize;
    color: #3cb878;  
}

.choose{
    margin-top: 22px;
    height: 20px;
    display: inline-block;
}

#uf {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    outline:none;
    vertical-align: bottom;
    
    
}
.knopka {
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 25px;
    outline:none;
}

.knopka:hover{
   background-color:  #329a65;
}
