.conteiner {
  max-width: 1900px;
  height: 100%;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  height: 70px;
  background-color: #1d2124;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img-back {
  height: 27px;
  width: 27px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/header/logo-navbar.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-img {
  background-color: #1a1d20;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: Bold;
  color: rgba(255, 255, 255, 255);
  margin-left: 11px;
  letter-spacing: 1px;
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons {
  text-decoration: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
  margin-right: 37px;
}

.search {
  height: 70px;
  width: 70px;
  background-color: #1a1d20;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.header {
  height: 404px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/header-bg.jpeg);
  background-attachment: fixed;
  /* background-position: center; */
  background-position: 50% 108%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-headline {
  font-family: 'Open Sans', sans-serif;
  font-size: 27px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  font-weight: Bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 18px;
  width: 364px;
}

.buttons>button {
  width: 170px;
  height: 55px;
  font-size: 18px;
  color: rgba(255, 255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buttons>button:hover {
  box-shadow: -1px 0px 27px -4px #000000;
}

.button-left {
  background-color: #89ca62;
}

.button-rignt {
  background-color: #14b9d5;
}

.headline-flex {
  font-size: 27px;
  color: rgba(24, 180, 207, 255);
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: Bold;
}

.header-hotel {
  height: 827px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}

.icons {
  margin: 0 15px 25px 15px;
  cursor: pointer;
  background-color: #ffffff;
}

.flexbox {
  background-color: #f2f2f2;
}

.header-hotels-img-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: rgba(53, 58, 61, 255);
  text-align: center;
}

.partners {
  height: 590px;
  display: grid;
  background-image: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.partners-first-line {
  grid-area: 1 / 1 / 2 / 2;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  color: rgba(255, 255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-weight: Bold;
  padding-top: 200px;
}

.partners-second-line {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
}

.partners-third-line {
  grid-area: 2 / 1 / 4 / 2;
  margin-top: 69px;
}

.partners-second-line:before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: #169cb4;
}

.partners-third-line-photo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.photos-inline {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.photos-inline-img1 {
  grid-area: 1 / 1 / 2 / 2;
}

.photos-inline-img2 {
  grid-area: 1 / 2 / 2 / 3;
}

.photos-inline-img3 {
  grid-area: 1 / 3 / 2 / 4;
}

.photos-inline-img4 {
  grid-area: 1 / 4 / 2 / 5;
}

.photos-inline-img5 {
  grid-area: 1 / 5 / 2 / 6;
}

.photos-inline-img6 {
  grid-area: 1 / 6 / 2 / 7;
}

.photos-inline-img7 {
  grid-area: 1 / 7 / 2 / 8;
}

.parallax {
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  width: 1170px;
  margin: 0 auto;
  height: 1480px;
}

.parallax-img1 {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: space-between;
  /* width: 857px; */
  height: 259px;
  background-color: #f9f7f7
}

.parallax-img2 {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  flex-direction: column;
  /* width: 277px; */
  height: 258px;
  background-color: #f9f7f7;
}

.parallax-img3 {
  grid-area: 2 / 1 / 3 / 3;
  display: flex;
  flex-direction: column;
  /* width: 554px; */
  height: 418px;
  background-color: #f9f7f7;
  background-color: #f9f7f7;

}

.parallax-img4 {
  grid-area: 2 / 3 / 3 / 5;
  display: flex;
  flex-direction: column;
  /* width: 554px; */
  height: 418px;
  background-color: #f9f7f7;

}

.parallax-img5 {
  grid-area: 3 / 1 / 4 / 3;
  display: flex;
  flex-direction: column;
  /* width: 554px; */
  height: 418px;
  background-color: #f9f7f7;
  
}

.parallax-img6 {
  grid-area: 3 / 3 / 4 / 5;
  display: flex;
  flex-direction: column;
  /* width: 554px; */
  height: 418px;
  background-color: #f9f7f7;
  
}

.parallax-img7 {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  flex-direction: column;
  /* width: 277px; */
  height: 259px;
  background-color: #f9f7f7;
 
}

.parallax-img8 {
  grid-area: 4 / 2 / 5 / 5;
  display: flex;
  justify-content: space-between;
  /* width: 857px; */
  height: 259px;
  background-color: #f9f7f7;

}

.news-item {
  display: flex;
}

.news-horizontal {
  justify-content: space-between;
}

.news-vertical {
  flex-direction: column;
  justify-content: space-between;
}

.news-item-title {
  font-size: 18px;
  color: rgba(53, 58, 61, 255);
  text-align: right;
  margin-left: 20px;
  margin-right: 20px;
}

.news-item-text {
  font-size: 14px;
  color: rgba(91, 100, 105, 255);
  text-align: right;
  margin-right: 20px;
  margin-left: 20px;
}

.news-item-head {
  font-size: 18px;
  color: rgba(53, 58, 61, 255);
  text-align: center;
  font-weight: Bold;
}

.footer {
  
  background-color: #1d2124;
  margin-top: 60px;
}

.footer-footer {
  width: 1170px;
    display: flex;
    margin: 0 auto; 
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.left-footer {
  font-size: 13px;
  color: rgba(255, 255, 255, 255);
  text-align: left
}

.right-footer {
 
  display: flex;

}