
.container{
    width: 1340px;
    height: 760px;
    background-image: url("./mage/qwe.jpg"); 
}

.icon{
padding-left: 150px;
padding-top: 50px;
position: relative;

}
.text a{
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 29px;
    top: 45px;
    left: 220px;
}
.hol a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 18px;
    top: 75px;
    left: 220px; 
    text-transform: uppercase; 
}
.contact a{
    color: white;
    font-size: 18px;
    position: absolute;
    right: 147px;
    top:57px;
    text-decoration: none;
}
.number a {
    text-decoration: none;
    position: absolute;
    top:80px;
    right: 145px;
    color: white;
}
.foto{
    display: inline-block;
    margin-left: 69px;
    color: #f26522;
}

.img{
    padding-left: 78px;
    padding-top: 48px;
   
}
.foto a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 18 px;
    text-transform: capitalize;
}
.footer::before {
    content: "\xA9";
}
.footer p {
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
}
.footer span{
    text-transform: none;
}

.icon :hover{
    color: #f26522;
}
.foto :hover{
    color: #f26522;
}

.mage {
    border-top: 3px solid white;
    height: 200px;
    width: 307px;
    position: relative;
    overflow: hidden;
}

.mage img{
    width: 100%;
    height: 100%;

}

.hover-img{
    height: 50px;
    background-color: #f26522;
    position: absolute;
    width: 100%;
    transition: 0.4s;
    bottom: -50%;
    color: white !important;
    /* bottom: 0 */
    hover:
}

.mage:hover .hover-img{
    bottom: 0;
}