
.page td{
    border: 1px solid #e3e3e3;
    width: 310px;
    height: 69px;
    font-size:18px;
    text-transform: uppercase;
    text-align: center;
}
.page table {
    border-collapse: collapse;
  }
  
.page {
    border: 24px  solid #3a4965;
    width: 1192px;
    height: 643px;
    
}
.page td span {
    font-size: 30px;
}
.page td button {
    width: 192px;
    height: 49px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 8px;
    outline:none;
}

.btn1{
    background-color: #484848;
}
.btn1:hover{
    background-color: #2e2222;
  
}
.btn2{
    background-color: #89c331;
}
.btn2:hover{
    background-color: #8bdb13;
}
.btn3{
    background-color: #f04a56;
}
.btn3:hover{
    background-color: #f01221;
}
.btn4{
    background-color: #20807c;
}
.btn4:hover{
    background-color: #17dbd5;
}
.line2 td {
    font-size: 20px;
    
}
.line1 td{
    color: #484848;
}
.line1 td span{
    font-weight: bold;
}
.line2 span { 
    font-size: 30px; 
    font-weight: bold;
    color: #484848;
} 

.line2 sup{
    font-size: 24px;
    font-weight: bold;
    color: #484848;
}

.line3 {
    background-color: #f2f2f2;
    color: #484848;

}
.line4 {
    background-color: #e3e3e3;
    color: #484848;
}
.btn td:nth-child(2n) {
background-color:#eeeeee;
}
.btn td:first-child {
    background-color: #dddddd;
}
.btn td:nth-child(2n+1) {
    background-color: #f4f4f4;
}
.line1 td:nth-child(2){
    background-color: #89c331;
    color: white;
    font-weight: bold;
}
.line1 td:nth-child(3){
    background-color: #f04a56;
    color: white;
    font-weight: bold;
}
.line1 td:nth-child(4){
    background-color: #20807c;
    color: white;
    font-weight: bold;
}
.fas{
    color: #848484;
    padding-right: 12px;
}