@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');

.page{
    background-image: url(../mage/space_stars_star_wars_death_sci_fi_planets_planet_2560x1024.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    /* margin-left: 300px;
    margin-top: 70px;  */
    overflow: hidden;
}

.scroller {
   
    width: 60%;
    margin: 0 20% 0 20%;
    height: 100%;
    font-size: 330%; 
    color: yellow ;
    transform: perspective(300px) rotateX(33deg);
    text-align: center;
   /* animation-duration: 130s;*/
    animation: scroller 10s linear infinite;
   
}
.scroller div {
    position: relative;
   top: 100%;
    animation: scroller 50s linear infinite;
    
}
@keyframes scroller {
    0% {
        top: 100%;
        /*opacity: 1;*/
    }
 /*   7% {
        top: 100%;
        opacity: 1;
    }
    95% {
        opacity: 1;
    }*/
    100% {
        top: -100%;
       /* opacity: 0;*/
    }
}


/* .scroller div {
    position: absolute;
  top: 100%;
    animation: scroller 100s linear infinite;
} */

/* .scroller p { 
  margin: 1.35em 0 1.85em 0;
  line-height: 1.35em;  */