.body {
    font-family: 'Montserrat', sans-serif;
}

.first-div {
    background: url("../mage/bg/section-1(header).jpg");
    background-attachment: fixed;
    height: 1017px;
}

.heder {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contentWidth {
    width: 1200px;
    margin: 0 auto;
    height: 120px;
}

.navbarlist {
    color: white;
}

.menuItem:hover {
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}

.fa-search {
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.fa-Search:hover {
    color: #18cfab;
}

.logo {
    width: 180px;
    height: 120px;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.logoH {
    font-size: 40px;
    font-weight: 900;
    color: #ffffff;
    text-align: left;
    margin-left: -45px;
    display: flex;
}

.text1 {
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;
    margin-left: 20px;
    display: inline;
}

.logotextspan {
    color: #18cfab;
    font-size: 32px;
    font-weight: 700;
}

.navbarlist {
    width: 980px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuItem {
    padding-bottom: 51px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    color: #b8b8b8;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 53px;
    border-bottom: 1px solid transparent;
}

.advrst p {
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

.advrst p span {
    color: #18cfab;
}

.advrst h1 {
    color: white;
    font-size: 69px;
    text-transform: uppercase;
    text-align: center;
}

.advrst {
    color: #bebebe;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    margin-top: 246px;
}

.exploreBtn {
    background-color: #18cfab;
    color: white;
    font-size: 13px;
    height: 61px;
    width: 166px;
    text-transform: uppercase;
    margin-left: 50px;
    border-radius: 5px;
}

.ouaAmazingWork {
    margin-top: 50px;
}

.ourServices {
    margin-top: 50px;
    min-height: 975px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #f8fcfe;
}

.purchaseBtn {
    background-color: #00cbf6;
    color: white;
    font-size: 13px;
    height: 61px;
    width: 166px;
    text-transform: uppercase;
    margin-left: 28px;
    border-radius: 5px;
}

.buttun {
    margin-top: 142px;
}

.squares {
    display: flex;
}

.secondSlideSquare {
    display: flex;
    height: 375px;
    width: 480px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secondSlideSquare:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    text-transform: uppercase;
    font-size: 20px;
    color: #18cfab;
}

.secondSlideSquare:nth-child(even) {
    background-color: #18cfab;
    border-top: 7px solid white;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.headline {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

.headlineLine {
    width: 90px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 18px 5px #18cfab;
    background-color: #18cfab;
    margin-bottom: 50px;
}

.tabs {
    border: 1px solid white;
}

.text {
    max-width: 700px;
    margin: 0 0 30px;
    background: #FFF;
    border-radius: 5px;
    padding: 7px 15px;
    box-sizing: border-box;
}

.tabs__caption {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.tabs__caption li:last-child:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -2px;
    z-index: -1;
    height: 5px;
}

.tabs__caption:after {
    content: '';
    display: table;
    clear: both;
    color: white;
}

.tabs__caption li {
    background: #f8fcfe;
    color: #9e9fa0;
    position: relative;
    border: 2px solid #eeeeef;
    text-align: center;
    width: 193px;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.mainTbs {
    display: flex;
    justify-content: center;
}

.tabsFoto {
    float: left;
    margin-right: 20px;
}

.textTabs {
    margin-top: 0;
    font-size: 15px;
    text-align: justify;
    line-height: 1.7;
}

.tabs__caption li:not(.active) {
    cursor: pointer;
}

.tabs__caption li:not(.active):hover {
    background: #18cfab;
    border-color: #18cfab;
}

.tabs__caption .active {
    background: #18cfab;
    color: #d1f5ee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.tabs__caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
}

.tabs__content {
    display: none;
    background: #FFF;
    width: 1195px;
    padding: 7px 15px;
    margin-left: 27px;
}

.tabs__content.active {
    display: block;
    float: left;
}

.everything {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(../mage/bg/section-2.jpg);
    width: 100%;
    height: 476px;
    background-attachment: fixed;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 250px;
}

.logo-ever {
    text-transform: uppercase;
    font-size: 40px;
    color: #18cfab;
    text-align: center;
    font-weight: bold;
    padding-top: 130px;
}

.everything p {
    color: rgba(216, 216, 216, 255);
    text-align: center;
}

.everything button {
    background-color: #18cfab;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    width: 165px;
    height: 61px;
    margin-left: 45%;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 5px;
}

.menu {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLinkMain, .imgLinkMain:visited {
    color: #717171;
    text-decoration: none;
    background-color: #ffffff;
    padding: 20px 25px;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #ebebeb;
}

.menuItemsForCategory {
    display: inline-block;
    list-style-type: none;
    background-color: #ffffff;
    margin: -3px;
}

.imgHoverBlockText {
    color: #18cfab;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 10px;
}

.imgHoverBlockTextP {
    color: #8a8a8a;
    margin-top: 2px;
}

.selected a, .selected a:visited {
    color: #18cfab;
    border-top: 2px solid #18cfab;
}

.categoryItems {
    list-style-type: none;
    display: block;
    float: left;
    width: 278px;
    height: 200px;
    position: relative;
}

.blackFon {
    width: 278px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #ffffff;
    opacity: 0;
    border-top: 2px solid #18cfab;
    display: flex;
}

.blackFon:hover {
    opacity: 1;
    transition: 400ms;
}

#fas {
    color: #18cfab;
    padding: 20px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 2px;
    margin-right: 2px;
}

#fas:hover {
    background-color: #18cfab;
    color: #ffffff;
}

.blackFon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapCategory {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 70px;
}

.whatPeopleText {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}

.green {
    color: #18cfab;
}

.grey {
    color: #d8d8d8;
}

.white {
    color: #ffffff;
}

.darkGrey {
    color: #4e4e4e;
}

.isReady {
    height: 460px;
    background: url("../img/bg/section-2.jpg");
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.black {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 460px;
}

.content {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
}

.textIsReady {
    text-transform: uppercase;
    font-size: 40px;
}

.subText {
    font-size: 16px;
}

.breakingNews {
    height: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.headline {
    font-size: 36px;
    text-align: center;
}

.headlineLine {
    width: 90px;
    border-width: 1px;
    border-style: solid;
    box-shadow: 18px 5px #18cfab;
    background-color: #18cfab;
    margin-bottom: 50px;
}

.lineForBlog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.blogBlock {
    width: 264px;
    height: 280px;
    display: flex;
    flex-flow: column;
    border: 1px solid #ebebeb;
    margin: 20px 23px;
}

.imgBlock {
    width: 264px;
    height: 209px;
    position: relative;
}

.dateBlock {
    width: 68px;
    height: 66px;
    background-color: #203e38;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.dateBlock:hover {
    background-color: #18cfab;
}

.day {
    text-align: center;
    margin-top: 15px;
}

.month {
    text-align: center;
    margin-top: -10px;
}

.descriptionBlock {
    width: 263px;
    height: 72px;
    background-color: #f8fcfe;
}

.nameImg {
    color: #717171;
    text-align: left;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 900;
    margin-top: 10px;
    cursor: pointer;
}

.nameImg:hover {
    color: #18cfab;
}

.byAdmin {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 18px;
    margin-top: -7px;
}

.slash {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 9px;
    margin-top: -7px;
}

.comments {
    color: #777777;
    float: left;
    font-size: 14px;
    margin-left: 9px;
    margin-top: -7px;
}

.ourServices {
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    width: 92px;
    height: 100%;
    min-height: 1px;
    margin-left: 43px;
    margin-top: -4px;
}

.quotes{
    color: #717171;
}
.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}
.whatPeopleSay {
    height: 850px;
    background-image: url(../mage/bg/section-3.jpg);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-position: 50% 100%;
}
.textFooter {
    text-align: center;
    font-size: 14pt;
    color: rgba(174, 174, 174, 255);
}

.spanFooter {
    color: #18cfab;
    cursor: pointer;
}

.menuList>ul>li {
    float: left;
    list-style-type: none;
}

.wrapLeft {
    width: 375px;
    height: 1000px;
    margin-right: 15px;
    float: left;
}

.wrapCenter {
    width: 375px;
    height: 1000px;
    margin-right: 15px;
    float: left;
}

.imgHoverBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgHoverBlock:hover {
    color: #1c71ff;
}

#fas {
    color: #18cfab;
    padding: 20px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 2px;
    margin-right: 2px;
}

#fas:hover {
    background-color: #18cfab;
    color: #ffffff;
}

.imgHoverBlockText {
    color: #18cfab;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 10px;
}

.imgHoverBlockTextP {
    color: #8a8a8a;
    margin-top: 2px;
}

.WhatPeopleSay {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.peopleSay2 {
    width: 500px;
    height: 120px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.peopleText {
    color: #bbbbbb;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}
.peopleName {
    text-transform: uppercase;
    color: #18cfab;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
}
.proffession {
    color: #bbbbbb;
    font-size: 13px;
    text-align: center;
    margin-bottom: 19px;
}
.t-User {
    width: 164px;
    height: 165px;
    border-radius: 50%;
    background-color: rgba(24, 207, 171, 0.2);
    display: inline-block;
    margin-left: 500px;
}
.uuuuu {
    width: 144px;
    height: 143px;
    border-radius: 50%;
    background-color: #18cfab;
    display: inline-block;
    margin: 10px;
}
.bTb {
    padding: 8px 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #cccccc;
}
.bTb:hover {
    color: #ffffff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}
.myNawRight {
    padding: 8px 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #cccccc;
}
.myNawRight:hover {
    color: #ffffff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}
.sliadManual {
    height: 75px;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    margin-left: 80px;
    cursor: pointer;
}
.sliadManualSmall {
    float: left;
    margin-top: 4px;
    margin-left: 7px;
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 0 0px 7px rgba(24, 207, 171, 0.2);
    outline: none;
}
.sliadManualSmall:active {
    outline: none;
}
.sliadManualSmall:focus {
    outline: none;
}
.activeBlock {
    background-color: #18cfab;
}
.SlWidth {
    width: 1200px;
}
.classForSlick2 {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.peopleImg {
    border-radius: 50%;
}
.footer {
    height: 110px;
    background-color: #22353f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textFooter {
    text-align: center;
    font-size: 14pt;
    color: rgba(174, 174, 174, 255);
}
.spanFooter {
    color: #18cfab;
    cursor: pointer;
}